<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-01-07T20:36:57Z</date>
	<key>WorkspacePath</key>
	<string>/Users/pesa/Documents/UNI/MC2/Ass_2/max-sdk/CustomCppExternals/MyExternals/chord_finder/chordfinder~.xcodeproj</string>
</dict>
</plist>
